<html  th:replace="~{base::layout(~{::section})}">
<head>
</head>

<body>
	<section>
		<div class="row main">
			<div class="col-md-8 p-0">
				<h3 style="font-family: 'Revue BT', sans-serif;">SOFTPRO ONLINE
					TEST PORTAL</h3>
				<h6 style="font-weight: 900;">A SOTP by Softpro India Computer
					Technologies (P) Ltd.</h6>
				<p class="param">


					Softpro Online Test Portal is a cutting-edge platform for secure
					and efficient online assessments. Designed for educational training
					programs, the portal empowers learners and evaluators with advanced
					tools, real-time analytics, and robust security features. As part
					of North India’s largest learning company, Softpro India, the
					portal supports skill development and career readiness. Over the
					past 20 years, Softpro has delivered <b>10,00,000+ hours of
						learning</b>, helping thousands achieve career success in top
					companies like Microsoft, Deloitte, IBM, TCS, Wipro, and more. <br>
					Softpro Online Test Portal is your gateway to smarter assessments,
					driving growth and excellence for the professionals of tomorrow.
				</p>
			</div>


			<div class="col-md-4 text-center pt-1 mt-0 pt-md-5 mt-md-3 pt-lg-5">
				<div class="row btnrow mt-3">
					<div class="col-md-12 col-sm-6 btncol">
						<a href="adminlogin" class="btn btn1">SOFTPRO ADMIN LOGIN</a>
					</div>
					<div class="col-md-12 col-sm-6 btncol">
						<a href="studentlogin" class="btn btn1">STUDENT LOGIN</a>
					</div>
				</div>
			</div>

		</div>

		<div class="row pb-3">
			<h5 style="font-weight: 900;">QUICK LINKS</h5>
			<div class="col-sm-4 my-3 my-sm-0 pb-0 card">
				<a href="https://softprofullstackacademy.in/" target="_blank">
					<div class="col-sm-12">
						<p class="para1">SOFTPRO INDIA FULL STACK ACADEMY</p>
					</div>
				</a>
			</div>


			<div class="col-sm-4 my-3 my-sm-0 pb-0 card">
				<a href="http://www.softproindia.in/" target="_blank">
					<div class="col-sm-12">
						<p class="para1">SOFTPRO INDIA</p>
					</div>
				</a>
			</div>

			<div class="col-sm-4 my-3 my-sm-0 pb-0 card">
				<a href="https://trainingatsoftpro.com/" target="_blank">
					<div class="col-sm-12">
						<p class="para1">SOFTPRO LEARNING CENTER</p>
					</div>
				</a>
			</div>
		</div>

	</section>
</body>
</html>