<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">

<head>

</head>

<body>
   <section>
		
		<div class="row p-3 border" style="background-image: url('images/back.jpg'); ">

			<div class="col-sm-12 text-center">
				<img src="images/logo.png" class="mx-auto" height="120px" width="150px" alt="">
			</div>
			<div class="col-sm-12 text-center">
				<h4 class="mt-2 unitxt fs-2" style="font-weight: 900;">
				SOFTPRO INDIA <span style="color:#ef662f;">ONLINE TEST PORTAL</span>
				</h4>
				<!--<h6 class="mt-2 fw-bold unitxt1 fs-4" style="color: #ef662f;">
					SOFTPRO INDIA COMPUTER TECHNOLOGIES PVT. LTD.
				</h6> 
				<p class="mt-2 fw-bold unitxt2 fs-6" style="color: black;">
					LUCKNOW U.P.
				</p>
				 -->
			</div>
		</div>
		<!-- main end -->
		<!-- main home start -->
		<div class="row">
			<div class="col-sm-12 p-0 m-0">
				<img src="images/home.jpg" class="w-100" alt="">
			</div>
		</div>
		<div class="row border p-1  mt-1 bg-orange">
			
			<div class="col-sm-8 m-auto text-center pt-4 ">
				<p style="font-size: 23px; font-weight: 700;">Apply For Free Summer Internship Test - 2024  &nbsp; &nbsp; <a href="/contactus"><button class="btn fw-bold"
						style="background-color:white; height:50px; border-radius: 0px; font-size:17px;">
						Apply Now &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
					</button></a></p>
			</div>
		</div>
		<!-- main home end -->
		<!-- free summer start -->

		<div class="row">
			<div class="col-sm-10 mx-auto">
				<div class="row my-4">
					<div class="col-sm-12 mb-4 text-center">

						<h2 style="color: #ef662f; font-weight: 600;" class=>Free Summer Internship</h2>


						<h5><span style="font-weight: 700; color:#ef662f;">Program Details </span> </h5>
						<p style="text-align:justify;font-size:17px; color: black;">
							As we strive to enhance the professional
							development opportunities for the students of AKTU, Softpro India is offering Free Summer
							Internship Program in collaboration with Dr A P
							J Abdul Kalam Technical University under the MoU services signed with Softpro India & AKTU,
							specifically tailored for the Ist, IInd & IIIrd year students pursuing B.Tech in Computer
							Science,
							Information Technology and CS Allied Branches, Mechanical, Civil, Electrical, Electronics.
							This
							program aims to provide students with valuable industry exposure, hands-on experience in the
							latest
							technologies, and an avenue for practical application of theoretical knowledge.
						</p>
						<h5><span class="fw-bold" style="color: #ef662f;">Importance of Summer Internship </span> </h5>
						<p style="text-align: justify; font-size: 17px; color: black;">


							<b>1.&nbsp;Bridging the Gap between Academia and Industry :</b> Summer Internships provide
							students with
							an invaluable opportunity to bridge the gap between theoretical knowledge acquired in
							classrooms
							and
							practical application in real-world scenarios. By working on live projects and interacting
							with
							industry
							professionals, students gain insights into industry practices, trends, and challenges, thus
							preparing them
							for the transition from academia to the professional realm.

						</p>
						<p style="text-align:justify;font-size:17px; color: black; ">
							<b>2.&nbsp;Skill Enhancement and Professional Development:</b> Engaging in summer internship
							programs
							allows students to enhance their technical skills, communication abilities, teamwork, and
							problem
							solving capabilities. Exposure to cutting-edge technologies and hands-on experience in
							project
							execution equips students with the competencies required to thrive in today's dynamic and
							competitive
							job market.

						</p>
						<p style="text-align: justify; font-size: 17px; color: black; ">
							<b>3.&nbsp;Networking and Career Opportunities:</b> Summer internships offer students a
							platform
							to network
							with professionals, build meaningful connections, and explore potential career
							opportunities.
							Building
							a strong professional network early in their academic journey can significantly enhance
							students'
							prospects for securing employment post-graduation.

						</p>
					</div>
				</div>
			</div>
		</div>
		<!--free summer end-->
		<!-- Er card start -->
		<div class="col-sm-11 mx-auto">
			<div class="row">
				<div class="col-sm-12 mt-3 mb-2">
					<h5 class="text-center mb-4 fw-bold" style="color:#ef662f; font-size: 30px;">
						WHO CAN PARTICIPATE ?
					</h5>
				</div>
				<div class="col-sm-3 mt-2">
					<div class="card text-center h-100 shadow" style="border-radius:20px ;">
						<img src="images/mech.webp" class="h-100" style="border-radius: 20px;" alt="...">
						<div class="card-body p-2 my-4">
							<h5 style=" color:orangered; font-size:22px; font-weight: 700;">
								Mechanical Engineering
							</h5>
							<hr>
							<h5 style="margin-bottom:0px; font-size:15px;" class="fw-bold">
								<strong>B-Tech 1,2,3 Year:</strong>
							</h5>
							<p style="font-size:17px;" class="mt-1">
								Mechanical students can register here.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 mt-2">
					<div class="card h-100 text-center shadow" style="border-radius:20px ;">
						<img src="images/ai.jpg" class="h-100" style="border-radius: 20px;" alt="...">
						<div class="card-body p-2 my-4">
							<h5 style=" color:orangered; font-size:22px; font-weight: 700;">
								CS-AI & ML
							</h5>
							<hr>
							<h5 style="margin-bottom:0px; font-size:15px;" class="fw-bold">
								<strong>B-Tech 1,2,3 Year:</strong>
							</h5>
							<p style="font-size:17px;" class="mt-1">
								AI & ML students can register here.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 mt-2">
					<div class="card mt-1 h-100 text-center shadow" style="border-radius:20px ;">
						<img src="images/elex.png" class="h-100" style="border-radius: 20px;" alt="...">
						<div class="card-body p-2 my-4">
							<h5 style=" color:orangered; font-size:22px; font-weight: 700;">
								Electrical Instrumental
							</h5>
							<hr>
							<h5 style="margin-bottom:0px; font-size:15px;" class="fw-bold">
								<strong>B-Tech 1,2,3 Year:</strong>
							</h5>
							<p style="font-size:17px;" class="mt-1">
								Electrical students can register here.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 mt-2">
					<div class="card mt-1 h-100 text-center shadow" style="border-radius:20px ;">
						<img src="images/civil.png" class="h-75" style="border-radius: 20px;" alt="...">
						<div class="card-body py-2 my-4">
							<h5 style=" color:orangered; font-size:22px; font-weight: 700;">
								Civil Engineering
							</h5>
							<hr>
							<h5 style="margin-bottom:0px; font-size:15px;" class="fw-bold">
								<strong>B-Tech 1,2,3 Year:</strong>
							</h5>
							<p style="font-size:17px;" class="mt-1">
								Civil students can register here.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Er card end -->
		<!-- highligh  start  -->
		<div class="row">
			<div class="col-sm-10 mx-auto">
				<div class="row ">
					<div class="col-sm-1"></div>
					<div class="col-sm-5" style=" padding:40px; color:black;">
						<h3 style="  color:orangered" class="fw-bold">
							Internship Test Highlights
						</h3>
						<hr />
						<p style="font-size:20px; text-align:left">
							<img src="images/time.png" height="50px" />&nbsp;&nbsp;<b
								style="font-weight:900;">Duration:</b> 60 Minutes
						</p>
						<p style="font-size:20px; text-align:left">
							<img src="images/skills.png" height="50px" />&nbsp;&nbsp;<b>Eligibility:</b> B-Tech Students
						</p>
						<p style="font-size:20px; text-align:left">
							<img src="images/language.png" height="50px" />&nbsp;&nbsp;<b>Medium:</b>
							English
						</p>
						<p style="font-size:20px; text-align:left">
							<img src="images/mode.png" height="50px" />&nbsp;&nbsp;<b>Mode:</b> Online
						</p>
						<p style="font-size:20px; text-align:left">
							<img src="images/platfom.png" height="50px" />&nbsp;&nbsp;<b>Question
								Type:</b> MCQ
						</p>
					</div>
					<div class="col-md-6">
						<img src="images/pen.jpg" class="pw w-100" />
					</div>
				</div>
				<!-- highlight end -->
				<!-- feature start -->
				<div class="row my-5">
					<div class="col-sm-5 text-center">
						<img src="images/meet.png" class="w-100" alt="">
					</div>
					<div class="col-sm-7">
						<h2 style="margin-top: 10px; font-weight: 700; color:#ef662f">
							Our Internship Features</h2>
						<hr>
						<ol>
							<li>Technology Lectures by Softpro Experts having minimum 10 Year of Experience.</li>
							<li>
								Bonus Lectures by Experts from Industry like Google, IBM, Indiabulls, HCL, TCS, LMRC,
								Ansal, DLF, Pepsi Co, Oracle, Paypal, Mitsubishi, Amazon, Apple and more.
							</li>
							<li>
								30 Days Live Instructor Led Classroom / online Sessions daily, with 15 Days Extra
								grace time to access the account for recovery & practice.
							</li>
							<li>
								E-Notes in form of E-Books, Presentations, Videos designed by Industry Experts with
								Self-Assessment Tools and daily evaluation.
								Class Recordings of each Live Class.
							</li>
							<li> Daily Tasks & Assignments for more practice.</li>
							<li>Industry Endorsed Project to be developed by all Interns.</li>
							<li>
								Assistance in Placement & Certificate of Internship by “Softpro India Computer
								Technologies (P) Limited”
							</li>
						</ol>
					</div>

				</div>
				<!-- feature end -->
				<!-- sessian start -->
				<div class="row">

					<h5><span class="fw-bold" style="color: #ef662f;">Internship Session </span> </h5>
					<hr>
					<h6 class="fw-bold">a.) Online / Offline Sessions:</h6>
					<p style="text-align:justify;font-size:17px;">
						The internship will commence with intensive training sessions covering
						a wide array of topics including but not limited to:
						i. Programming languages such as Java, Python, PHP, C# etc.
						ii. Web development frameworks like Django, Spring, Laravel, AngularJS, React, etc.
						iii. Database management systems and data analytics tools.
						iv. Emerging technologies such as Artificial Intelligence, Machine Learning, Internet of Things,
						etc.
						v. Technologies like IoT, PLC SCADA, Embedded System, AutoCAD, Solidwork & STAAD.PRO
					</p>
					<h6 class="fw-bold">b.) Project Work: </h6>
					<p style="text-align:justify;font-size:17px;">
						Following the training period, interns will be assigned to real-world projects under
						the guidance and mentorship of experienced professionals from Softpro India. This hands-on
						experience
						will enable students to apply theoretical concepts in practical scenarios, thereby honing their
						problem
						solving skills and enhancing their technical proficiency.
					</p>
					<h6 class="fw-bold">c.) Evaluation and Certification: </h6>
					<p style="text-align:justify;font-size:17px;">
						At the conclusion of the internship, students will undergo an
						assessment to evaluate their performance and proficiency gained during the program. Upon
						successful
						completion, participants will receive certificates acknowledging their accomplishments during
						the
						internship.
					</p>
					<h6 class="fw-bold">d.)Placement Opportunity:</h6>
					<p style="text-align:justify;font-size:17px;">
						Students who will do Internship from Softpro will also be offered
						Placement Opportunity in their final year.
						The Free Summer Internship Program by Softpro India presents a unique opportunity for your
						students
						to augment their academic learning with practical industry experience, thereby enhancing their
						employability and fostering their professional growth. We believe that this collaboration will
						be
						mutually beneficial for your esteemed institutions and Softpro India, and will pave the way for
						future
						partnerships aimed at nurturing talent and driving innovation in the field of technology.
						We earnestly request your support and cooperation in facilitating the implementation of this
						Free
						Internship program.
					</p>



				</div>
				<!-- sessian end -->
				<!-- technoogy start -->
				<div class="row">
					<div class="col-sm-12 mt-4">

						<h2 style=" color: #ef662f;" class="fw-bold text-center mt-3">Technologies Offered</h2>
						<hr>

						<p style="text-align:justify;font-size:15px;" class="text-center">
							The internship will
							begin with thorough training sessions covering essential topics relevant to the role.
							Participants will gain a comprehensive understanding of technical skills, industry
							practices,
							and soft skills. Interactive workshops and practical exercises will prepare them to excel in
							their roles and contribute effectively to the organization.
						</p>
					</div>
				</div>
				<!-- technology end -->
				<!-- t offered start -->

				<div class="row  g-4 mt-2">
					<div class="col-sm-4">
						<div class="card">
							<img src="images/datascience.png" class="p-2" alt="...">

						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img src="images/ml.png" class="p-2" alt="...">

						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img src="images/django.png" class=" p-2" alt="...">

						</div>
					</div>
				</div>
				<div class="row  g-4 mt-2">
					<div class="col-sm-4">
						<div class="card">
							<img src="images/java.png" class=" p-2" alt="...">

						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img src="images/net.png" class="p-2" alt="...">

						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img src="images/php.png" class=" p-2" alt="...">

						</div>
					</div>
				</div>
				<div class="row g-4 mt-2">
					<div class="col-sm-4">
						<div class="card">
							<img src="images/iot.png" class="p-2" alt="...">

						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img src="images/embeded.png" class=" p-2" alt="...">

						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img src="images/pcb.png" class="p-2" alt="...">

						</div>
					</div>
				</div>
				<div class="row g-4 mt-2">
					<div class="col-sm-4">
						<div class="card">
							<img src="images/pcl.png" class="p-2" alt="...">

						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img src="images/auto1.png" class="p-2" alt="...">

						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img src="images/auto2.png" class=" p-2" alt="...">

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- t offerd end -->
		<!-- location start -->

		<div class="row">
			<div class="col-sm-10 mx-auto text-center my-4 fw-bold">

				<h2 class="fw-bold mb-2" style="color: #ef662f;">
					Training Locations</h2>
				<hr>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 mx-auto">
				<div class="row p-2">

					<div class="col-sm-8 text-light p-2" style="background-color: #ef662f;">
						<h4 class=" text-center fw-bold">Lucknow Locations</h4>
					</div>
					<div class=" col-sm-4 text-light p-2" style="background-color: #ef662f;">
						<h4 class=" text-center fw-bold">Noida Location</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-sm-10 mx-auto">
				<div class="row">
					<div class="col-sm-4 mt-2">
						<div class="card h-100 shadow-lg text-center border-0">
							<img src="images/house1.jpg" class=" p-3" alt="..." height="300">
							<div class="card-body">
								<h5 class="fw-bold" style="text-align:center; color:orangered; margin-bottom:-10px;">
									Softpro House
								</h5>
								<hr style="margin-bottom:8px;" />
								<p class="card-text" style="font-size:15px; ">
									3/213, Sector J, Jankipuram, Kursi Rd<br /> Near
									Gudamba Thana, Lucknow
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 mt-2">
						<div class="card h-100 text-center shadow-lg border-0">
							<img src="images/acdemy.jpg" height="300" class="p-3" alt="...">

							<div class="card-body text-center">
								<h5 class=" fw-bold"
									style="text-align: center; color: orangered; margin-bottom: -10px;">
									Softpro India Full
									Stack Academy
								</h5>
								<hr />
								<p class="card-text text-center" style="font-size:15px; margin-top:-10px;">
									Pushpi Tower ,Chinhat Tiraha, Vijayant Khand
									<br />
									Gomti Nagar, Lucknow
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 mt-2">
						<div class="card h-100 shadow-lg border-0 text-center">
							<img src="images/its.jpg" height="300" class=" p-3" alt="...">
							<div class="card-body">
								<h5 class="card-title fw-bold" style="color: orangered; margin-bottom: -10px;">
									Softpro Skill
									Development Center
								</h5>
								<hr />
								<p class="card-text" style="font-size:15px; margin-top:-10px; ">
									I.T.S Campus, Knowledge Park III, Pari Chowk, Greater NOIDA
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- location end -->
		<!-- online mode start
		<div class="row my-5">
			<div class="col-sm-10 mx-auto ">
				<div class="row">
					<div class="col-sm-12 text-center ">
						<h2 class=" fw-bold org">Online Training Mode</h2>
						<h3>POLYPREP, A Learning Management System By Softpro India
						</h3>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-12 shadow-lg">
						<div class="row p-5 pe-2">
							<div class="col-sm-6 border"><img src="images/upcoming.png" class="w-100" alt=""
									height="380"></div>
							<div class="col-sm-6 ps-5 my-auto">
								<div class=" py-4 spi text-center">

									<h4 class="fw-semibold">Online Training Division of Softpro LMS Polyprep
									</h4>
									<small>Enroll, Learn, Grow !!! Get ready to achieve your learning goals with Softpro
										by doing Online Summer Internship at Polyprep, An LMS by Softpro.</small>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- online mode end
		<a href="/experts" class=" btn btn-success fixed-btn2"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Our
			Experts</a> -->
	</section>
</body>

</html>